.settings__fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border: 0;
}

.settings__step-list .settings__fieldset {
  border-bottom: 1px dotted var(--pale-purple-50);
}

.settings__step-list .settings__fieldset:first-child {
    border-top: 1px dotted var(--pale-purple-50);
}

.settings__delete-button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}

.settings__right-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 16px 16px 0;
}

.settings__action-button {
    font-size: 1.5rem;
}