.settings__fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.settings__delete-button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}

.settings__right-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 12px 16px 0;
}

.settings__action-button {
    font-size: 1.5rem;
}