.time-display {
  padding: 16px;
  font-family: var(--font-koho);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.time-display[data-size="primary"] {
  font-size: 4rem;
  gap: 4px;
}

.time-display-digits {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 2rem;
}

.time-display[data-size="primary"] .time-display-digits {
  width: 6rem;
}

.time-display-minutes {
  justify-content: flex-end;
}

.time-display-colon {
  transform: translateY(-2px);
}

.time-display[data-size="primary"] .time-display-colon {
  transform: translateY(-5px);
}

.time-display[data-running="true"] .time-display-colon {
  animation-name: colon-pulse;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes colon-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.time-display-seconds {
  justify-content: flex-start;
}