
.volume-display {
  --minor-width: 2.5rem;
  --major-width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: baseline;
  padding: 16px;
}

.volume-display-number {
  font-family: var(--font-koho);
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-display-primary {
  font-size: 5rem;
  line-height: 1;
  width: var(--major-width);
}

.volume-display-secondary {
  width: var(--minor-width);
  font-size: 1.5rem;
}

.volume-display-end {
  margin-bottom: auto;
}

.volume-display__ramp-row {
  display: flex;
  justify-content: center;
}

.volume-display__ramp-container {
  width: 200px;
  height: 40px;
  position: relative;
  left: 0;
  top: 0;
  background-color: var(--pale-purple);
  clip-path:polygon(100% 0%, 100% 100%, 0% 100%, 0% 96%);
}

.volume-display__progress-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  background-color: var(--bold-purple);
}