@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&family=Rajdhani:wght@500&display=swap');

:root {
	--bold-purple: #7c3bd9;
	--mid-purple: #a784d9;
	--pale-purple: #c7bad9;
	--light: #ede9f2;
	--dark: #405259;

	--font-rajdhani: 'Rajdhani',sans-serif;
	--font-koho: 'KoHo', san-serif;

	font-family: var(--font-rajdhani);
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

button {
	font-family: var(--font-rajdhani);
}

input[type=number] {
	font-family: var(--font-koho);
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

fieldset {
	border: none;
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}
