@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&family=Rajdhani:wght@500&display=swap');

:root {
	--bold-purple: #7c3bd9;
	--mid-purple: #a784d9;
	--pale-purple: #c7bad9;
	--pale-purple-50: color-mix(in srgb, var(--pale-purple) 50%, var(--light) 50%);
	--light: #ede9f2;
	--dark: #405259;
	--dark-80: color-mix(in srgb, var(--dark) 80%, var(--light) 20%);

	--font-rajdhani: 'Rajdhani',sans-serif;
	--font-koho: 'KoHo', san-serif;

	font-family: var(--font-rajdhani);
	line-height: 1.5;
	font-weight: 400;

	color: var(--light);
	background-color: var(--dark);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 320px;
}

button {
	font-family: var(--font-rajdhani);
	background-color: var(--light);
	border: 1px solid var(--pale-purple);
	border-radius: 4px;
}

input[type=number] {
	font-family: var(--font-koho);
	background-color: var(--dark-80);
	color: var(--pale-purple-50);
	border: 0;
	border-radius: 2px;
	text-align: center;
}

input[type=number]:focus, input[type=number]:focus-visible {
	outline: 0;
	box-shadow: 0px 0px 3px var(--mid-purple);
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

